<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Scaffold Overmind</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<body style="background-color: #444">
    <div>
        <div id="app">
            <the-toolbar v-bind:bridge="bridge"></the-toolbar>
        </div>
        

        <div class="container-fluid">
            <div class="row" style="margin-left: 0">
                <!-- sidepanel -->
                <div id="sidepanel" class="col-md-3" style="background-color: #333; height: 100%; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)">
                    <pane-control name="Plan" v-bind:active="active_pane" v-on:change="update_pane"></pane-control>
                    <div id="plan">
                        <plan-summary v-bind:model="model"></plan-summary>
                    </div>

                    <pane-control name="Workers" v-bind:active="active_pane" v-on:change="update_pane"></pane-control>
                    <div id="workers">
                      <table>
                        <tbody>
                          <tr v-for="worker in worker_pool.workers">
                            <td>
                              <h4><img width="25" height="25" v-bind:src="'data:image/png;base64,' + worker.identicon.toString()"/> {{worker.wtype}} <span style="font-size:80%; color: lightgray">{{worker.addr}}</span></h4>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div v-bind:class="{'alert': true, 'alert-info': !has_uninit, 'alert-danger': has_uninit}" role="alert">{{uninit_desc}}</div>
                    </div>
                </div>

                <!-- modal main content -->
                <div class="col-md-9">
                    <div id="tab_plan" style="display: none">
                        <div style="display:flex; align-items: center">
                            <i class="material-icons">add_box</i>
                            <button id="add_fdw" class="btn btn-default">FDW</button>
                            <button id="add_rs" class="btn btn-default">RS</button>
                            <button id="add_rh" class="btn btn-default">RH</button>
                            <button id="add_rr" class="btn btn-default">RR</button>
                            <button id="remove" class="btn btn-default"><i class="material-icons">delete_forever</i></button>
                        </div>
                        <div id="viewport"></div>
                    </div>

                    <div id="tab_workers">
                        <a v-if="!raw_enabled" style="color: #f0ad4e" href="#" v-on:click="set_raw_enabled(true)"><i class="material-icons">warning</i>Show raw actions</a>
                        <a v-if="raw_enabled"  style="color: #eee" href="#" v-on:click="set_raw_enabled(false)">Hide raw actions</a>
                        <worker-card v-for="worker in pool.workers" v-bind:worker="worker" v-bind:show_raw="raw_enabled"></worker-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./build/bundle.js" defer></script>
</body>

</html>
